@import '../../Variables.scss';
.second-cards {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 20rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  overflow: hidden;
  @include media-md {
    width: 100%;
    height: 20rem;
  }
  &:hover button {
    right: 1rem;
  }

  img {
    width: 100%;
    height: 16rem;
    cursor: pointer;
    object-fit: cover;
    border-radius: $border-lg;

  }

  .icons .save {
    position: absolute;
    cursor: pointer;
    top: .7rem;
    right: .5rem;
  }

  .icon {
    font-size: 1.2rem;
  }

  button {
    position: absolute;
    bottom: 4.5rem;
    right: -15.2rem;
    border: none;
    background-color: $primary;
    color: $bg-white;
    width: 6rem;
    height: 2.5rem;
    font-weight: 600;
    border-radius: $border-lg;
    transition: all .1s ease;
    @include btnActive;
    @include center;
    gap: .2rem;
  }

  .title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .price {
    display: flex;
    gap: 5%;
    font-size: 1.3rem;
    font-weight: bold;
    color: $success;

    .old-price {
      text-decoration: line-through;
      font-weight: 500;
      color: $text-gray;
    }

  }
}