.chat {
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  border-radius: 15px;
  color: #000;
  border: 1px solid #e3e3e3;
  width: 20rem;
  height: 24rem;
  margin: 0 auto;
  z-index: 1000;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2588235294);
  background-color: #fff;
  transition: all 0.2s ease;
  overflow: hidden;
  transition: all 1s ease;
}
.chat .profile {
  background: linear-gradient(to right, #666fff, #2cb6ed 50%);
  height: 4rem;
  display: flex;
  align-items: center;
  padding-inline: 5%;
}
.chat .profile .profile-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.6rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.chat .profile .profile-logo span {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 1px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #00ec00;
  right: 1px;
}
.chat .profile .profile-logo img {
  width: 70%;
  height: 70%;
}
.chat .profile .text {
  color: #fff;
  line-height: 1.2rem;
  margin-right: auto;
}
.chat .profile .text p {
  font-size: 0.9rem;
}
.chat .profile .text h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.chat .profile .close {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
}
.chat .profile .close:hover {
  background-color: rgba(255, 255, 255, 0.337254902);
}
.chat .profile .close:active {
  background-color: #2cb6ed;
}
.chat .profile .close .icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
}
.chat .output {
  position: relative;
  height: 15.7rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-block: 5px;
  gap: 0.8rem;
  margin-inline-end: 5px;
  overflow: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
}
.chat .output::-webkit-scrollbar {
  width: 7px;
}
.chat .output::-webkit-scrollbar-thumb {
  background-color: rgba(185, 185, 185, 0.7254901961);
  border-radius: 30px;
}
.chat .output small {
  font-size: 10px;
  margin: 0 auto;
}
.chat .output p {
  background-color: #F6F6F6;
  color: #333;
  font-weight: 500;
  padding: 0.5rem 0.7rem;
  width: fit-content;
  padding-bottom: 0.6rem;
  border-top-right-radius: 20px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-top-left-radius: 20px;
  max-width: 90%;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
}
.chat .output .left {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 20px;
}
.chat .output .right {
  margin-bottom: -0.2rem;
  margin-top: -0.2rem;
  margin-left: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 3px;
}
.chat .send {
  height: 3.3rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin-inline: 7px;
  border: 1px solid #e3e3e3;
  z-index: 1000;
}
.chat .send input {
  width: 90%;
  height: 100%;
  font-size: 1rem;
  z-index: 100;
  font-weight: 400;
  text-indent: 15px;
  background: transparent;
  color: #333;
  width: 80%;
}
.chat .send button {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 15px;
  border: none;
  background-color: #2cb6ed;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2cb6ed;
  transition: all 0.2s ease;
  z-index: 100;
}
.chat .send button:hover {
  transform: scale(1.1);
  background-color: #fff;
}
.chat .send button:hover .icon {
  color: #2cb6ed;
}
.chat .send button:active {
  transform: scale(0.9);
}
.chat .send button .icon {
  color: #fff;
  font-size: 1.2rem;
}

.button:hover .chat-text {
  opacity: 1;
  pointer-events: visible;
}

.chat-text {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 2rem;
  height: 3rem;
  padding-inline: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 4.7rem;
  background-color: #fff;
  font-weight: 500;
  padding-bottom: 0.2rem;
  border-radius: 30px;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2078431373);
}

.chat-btn {
  position: fixed;
  border: 1px solid #fff;
  bottom: 2rem;
  right: 1rem;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 4px;
  color: #000;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 10px 15px rgba(35, 147, 192, 0.5843137255);
  background-color: #2cb6ed;
  transition: all 0.2s ease;
}
.chat-btn:hover {
  transform: scale(1.1);
}
.chat-btn:active {
  transform: scale(0.9);
}
.chat-btn .icon {
  width: 2.3rem;
  color: #fff;
  height: 2.3rem;
}
.chat-btn .active {
  border-color: #2cb6ed;
  background-color: #fff;
}
.chat-btn .active .icon {
  color: #2cb6ed;
}

.chat-active {
  right: -50rem;
}/*# sourceMappingURL=chatbotui.css.map */